body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: khaki;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

.container {
    width: 90%;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
}

h1 {
    text-align: center;
    color: #0a0a0a;
}

.form-tarefa {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#input-nova-tarefa {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#botao-adicionar {
    padding: 10px 15px;
    background-color: #a04000;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;  
}

#boatao-adicionar:hover {
    background-color: #8c3800;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fafafa;
    padding: 12px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}

li:first-child {
    border-top: 1px solid #eee;
}